.astro
.idea
.env
node_modules
/public/FAQWidget/
/public/WarTable/
/public/RankingTable/
/public/GeekWidget/
/public/PlaysWidget/
/public/LoginWidget/
/public/UpdatesWidget/
/public/OwnedWidget/
/public/FavouritesWidget/
/public/AdminWidget/
*.iml
dist
cdk.out
/public/CollectionWidget/
/public/MonthlyWidget/
/public/UserWidget/
/public/YearlyWidget/
