/* Styles for all pages on the site. */

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}
body {
    margin: 0 auto !important;
    width: 100%;
    max-width: var(--page-width,900px);
    padding: 0;
    line-height: 1.5;
    font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
* {
    box-sizing: border-box;
}
.page-body {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    --content-width: calc(var(--page-width,900px) - 60px);
}
.page-body h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}
.page-body h2 {
    margin-top: 50px;
    margin-bottom: 16px;
}