---
import BlogLayout from "../layouts/BlogLayout.astro";
---
<BlogLayout content={ { title: "About DrFriendless", tags: [ "meta" ], pubDate: undefined, author: "DrFriendless", description: `A bit about DrFriendless` } }>
    <p>
        My name is John Farrell.
        I'm known as Friendless on boardgamegeek.com, and DrFriendless most other places.
        I'm a software developer with so much experience I must be quite old by now.
        I live in Sydney with my wife and my dog.
    </p>

    <p>
        This site is mostly about <a href="https://exstats.drfriendless.com">board game statistics</a>,
        because apparently that's a thing now.
    </p>
</BlogLayout>
