---
import BlogLayout from "../layouts/BlogLayout.astro";
---
<BlogLayout pageTitle="Extended Stats Blog">
    <p>The new blog:</p>

    <ul>
        <li><a href="blog/welcome-back-2025">Welcome Back!</a></li>
        <li><a href="blog/api-gateway-202510">On API Gateway and CloudFront</a></li>
    </ul>

    <p>From the old blog:</p>

    <ul>
        <li><a href="blog/welcome-to-new-users">Welcome to New Users</a></li>
    </ul>
</BlogLayout>