---
import BlogLayout from "../layouts/BlogLayout.astro";
import {allBlogPosts, BlogPost} from "../code/BlogPost";
import BlogPostList from "../components/BlogPostList.astro";

const rawPosts = allBlogPosts().filter(p => p.isNew());
const posts = rawPosts.sort((p1: BlogPost, p2: BlogPost) => p1.compareByPubDate(p2));
---
<BlogLayout content={ { title: "Extended Stats Blog", tags: [ "meta" ], pubDate: undefined, author: "DrFriendless", description: `Ypu're at the front page of the blog` } }>
    <h2>Recent Posts</h2>
    <BlogPostList posts={posts}/>
</BlogLayout>

