---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="Data Protection">
    <h2>The Extended Stats Privacy Policy</h2>
    <p>
        Extended Stats gathers publically available data from boardgamegeek.com, including data about specific users of that site.
        If you are a user of boardgamegeek.com and you no longer wish Extended Stats to gather your data, please send a private message to Friendless on boardgamegeek.com and request that your data no longer be gathered.
        When you are removed from the list of BoardGameGeek.com users, all data in the Extended Stats database regarding that user will be deleted.
    </p>

    <h2>The DrFriendless.com Privacy Policy</h2>
    <p>
        If you create an account on drfriendless.com, DrFriendless also holds data about you as a user of drfriendless.com.
        This data will be held for the purposes of implementing the functionality of the site as you have engaged with it.
        If you do not create an account, no data can be stored about you, other than the data drawn from boardgamegeek.com as described in the previous section.
        Data stored about you can be viewed at <a href="/user.html">the User Page</a>, except as noted below.
    </p>
    <p>
        If in the future drfriendless.com adds ecommerce functionality, information for the purpose of fraud detection may be stored, and this information will not be visible to you.
    </p>
    <p>
        This site does not use any third-party trackers, and is unlikely to start.
        Your information will not be sold or shared with anyone other than developers of drfriendless.com.
    </p>
</BaseLayout>