---
import {allDocoDocs, DocoDoc} from "../code/DocoDoc";
import DocoDocList from "../components/DocoDocList.astro";
import DocoLayout from "../layouts/DocoLayout.astro";

const rawDocs = allDocoDocs();
const docs = rawDocs.sort((p1: DocoDoc, p2: DocoDoc) => p1.compareByTitle(p2));
---
<DocoLayout content={ { title: "Extended Stats Documentation", tags: [ "meta" ],
    description: `This is the Contents page for the documentation.` } }>
    <h2>Documentation Articles by Title</h2>
    <DocoDocList docs={docs}/>
</DocoLayout>

