---
import Menu from './ExtstatsNavbarMenu.astro';
import {bggMenu, devMenu, type SubMenu, userMenu} from "../code/NavBase";

const blogMenu: SubMenu = { name: 'Blog', style: 'nav-blog', link: "/blog.html", items: [
        // { link: "http://blog.drfriendless.com/2018/09/08/welcome-to-new-users/", name: "Welcome"},
        // { link: "http://blog.drfriendless.com/2018/08/12/what-use-are-users/", name: "Logins"},
    ]};
---
<div role="navigation" class="extstats-navbar">
    <a class="go-button" href="/" role="button"><img src={'/img/go.png'}  height="28px" alt="GO logo from Monopoly"/></a>
    <a class="navbar-button nav-wartable" href="/about.html">About</a>
    <a class="navbar-button nav-ranking" href="https://extstats.drfriendless.com">Stats</a>
    <Menu link={blogMenu}/>
    <Menu link={userMenu}/>
    <Menu link={bggMenu}/>
    <Menu link={devMenu}/>
    <a class="navbar-button nav-patreon" href="https://www.patreon.com/drfriendless">Patreon</a>
    <img src="/img/No_AI_art.svg" alt="No AI" height="100%" title="No AI was used in the building of this site."/>
</div>