---
import {BlogPost} from "../code/BlogPost";

interface Props {
    posts: BlogPost[];
}
const { posts } = Astro.props;
---
<ul>
    {posts.map((post: BlogPost) => <li><b>{post.pubDate()}</b> <a href={post.url + ".html"}>{post.title}</a><br><i>{post.description}</i></li>)}
</ul>