---
---
<!--<link rel="stylesheet" href="Catalist/styles.css">-->
<!--<catalist-widget></catalist-widget>-->
<!--<script is:inline src="Catalist/polyfills.js" type="module"/>-->
<!--<script is:inline src="Catalist/main.js" type="module"/>-->

<p>The Catalist isn't invented yet (28 March 2026) but I'll get to it once the Tagalogue is released.</p>