---
const { views } = Astro.props;
---
<div style="margin-left: 18px; margin-right: 18px; max-width: 900px; background: #fee94e; box-shadow: 2px 2px 1px #ccc; margin-top: 40px">
    <p style="margin-bottom: 0; padding-top: 10px; padding-left: 10px">Extended Stats is honoured to be powered by <a href="https://www.boardgamegeek.com/">boardgamegeek.com!</a></p>

    <a href="https://www.boardgamegeek.com/"><img src="/img/powered_by_bgg.webp" style="max-width: 350px"/></a>
    <script is:inline define:vars={{views}} type="text/javascript">
        window.onload = function(e) {
            fetch("/api/count?counts=" + views, { method: "POST" });
        }
    </script>
</div>